body, .accordion-item, p{
  background-color:slategrey;
  color: purple
}

body{
  margin: 10px !important;
}

.container-fluid{
  background-color: lightblue;
}

p{
  background-color: lightblue;
  border: 5px dashed olive;
}

.section{
  margin: 10px
}

.row.g-3{
  padding: 10px;
  border: 10px, solid black;
}

img{
  border: 10px solid black;
  height: 800px;
  width: 600px ;
  margin: auto;
}

#bbtn:hover{
  background-color: lightblue
}
#bbtn{
  background-color: olive;
}
footer{
  text-align: center;
}

h3{
  margin-bottom: 20px;
}